<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'sudokuDIP/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="upload-image">
            <div class="show-image">
                <img src="{% static 'sudokuDIP/empty-img.jpg' %}" alt="">
                {% if show_img == 1 %}
                    <img src="{% static 'sudokuDIP/image/image.jpg' %}" alt="">
                {% endif %}

            </div>
            <!-- <button class="upload-img-btn">Upload Image</button> -->
            {% if show_img == 1 %}
            <form method="post" class="process-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myprocessfile" id="myprocessfile" value="{% static 'sudokuDIP/image/image.jpg' %}" accept="image/*"/>

                <button type="submit" value="Place order" name="submit-process">Create Matrix</button>
            </form>
            {% endif %}
            <form method="post" class="upload-img-form" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="myfile">Select Image:</label>
                <input type="file" name="myfile" id="myfile" accept="image/*" required/>

                <button type="submit" value="Place order" name="submit-upload">Upload</button>
            </form>
            <!-- <input type="file" name="image" class="upload-img-btn" accept="image/*"/> -->
        </div>
        <div class="image-process">
            <h2>SUDOKU</h2>
            <form action="" class="update-matrix" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                {% if show_matrix == 0 %}
                    {% for i in range %}
                        {% for j in range %}
                            <li><div></div></li>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    
                    <!-- {{show_matrix}} -->
                    {% for row in matrix %}
                        {% for e in row %}
                            {% if e == 0 %}
                                <li><input type="number" name="array[]" value="" onkeydown="changeFunction()" oninput="inputFunction(this)" maxlength = "1" min = "1" max = "9"></li>
                            {% else %}
                                <li><input type="number" name="array[]" value="{{e}}" onkeydown="changeFunction()" oninput="inputFunction(this)"  maxlength = "1" min = "1" max = "9"></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </ul>
                <input type="text" name="update-matrix" value="" style="display: none;" id="update-matrix">
                {% if error_matrix == 1 %}
                    <span class="err_update" id="err_update" style="display: block;">Something wrong!!!</span>
                    error_matrix = 0
                {% endif %}
                <span class="infor_update" id="infor_update">Press update button to save</span>
                
                {% if show_matrix == 1 %}
                <button type="submit" name="submit-edit-matrix" onclick="update()">Update Matrix</button>
                {% endif %}
            </form>
            {% if show_matrix == 1 %}
                <form method="post" class="solver-matrix" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="submit-solver" value="{{ matrix }} ">Solve Sudoku</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <div class="name">
            <h4>Trần Đức Hưng - 51900747</h4>
            <h4>Vũ Trung Hậu - 51900738</h4>
            <h4>Nguyễn Hữu Hòa - 51900742</h4>
        </div>
    </div>
    <script type="text/javascript">
        // document.getElementsByName("array[]").onchange = function() {myFunction()};
        function changeFunction() {
            // alert('thay doi');
            document.getElementById('infor_update').style.display = 'block';
            document.getElementById('err_update').style.display = 'none';
        }

        function inputFunction(ob) {
            if (ob.value == 0) {
                ob.value = -1;
            }
            if (ob.value.length > 1) {
                ob.value = ob.value.slice(0,1);
            }
        }


        function update() {
            var input = document.getElementsByName('array[]');
            const arr = []
 
            for (var i = 0; i < input.length; i++) {
                var e = input[i];
                if(e.value == '') {
                    arr.push(0)
                }else{
                    arr.push(e.value)
                }
            }
            document.getElementById("update-matrix").value = arr
            console.log(arr)
        }
    </script>
</body>
</html>